<div class="mt-3"></div>
<div class="container">
  <div class="card border-primary">
    <div class="card-header">
      <h1 class="text-center">Bienvenido</h1>
    </div>
    
    <div class="card-body text-center">
      <p>Bienvenido ......</p>
      <img src="./assets/march.png" class="img-fluid" />
    </div>
    
    <div class="mb-3">
      <button
        class="btn btn-outline-success form-control"
        type="button"
        (click)="verAsistentes()"
      >
        Ver Asistentes
      </button>
    </div>
    <div class="mb-3">
      <button
        class="btn btn-outline-success form-control"
        type="button"
        (click)="registrarEvento()"
      >
        Registrar Evento
      </button>
    </div>
    
    <div class="mb-3">
      <button
        class="btn btn-outline-success form-control"
        type="button"
        (click)="verEventos()"
      >
        Ver Eventos
      </button>
    </div>
    <div class="mb-3">
      <button
        class="btn btn-outline-success form-control"
        type="button"
        (click)="registrarAsistente()"
      >
        Registrar Asistentes
      </button>
    </div>

  </div>
</div>
